body {
  /* font-family: "Lato", sans-serif; */
  /* background-color: hwb(0 95% 4%); */
  /* background-color: hwb(272 2% 73%); */
  /* font-family: "Open Sans", sans-serif; */
  /* font-family:'Courier New', Courier, monospace; */
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family:cursive; */
  font-family:sans-serif;
  
  font-size:medium;
  color: #272829;
  position: relative;
 
}

.gg {
  text-align: center;

}
.gc{
  text-decoration:underline;
 
}

/* nav fixed */
.fixed-nav-bar {
  position: fixed;
  align-items: flex-end;
  justify-content: flex-end;
  top: 0;
  left: 0;
  /* z-index: 9999; */
  z-index:1;
  width: 100%;
  height: 50px;
  /* background-color: white; */
  /* box-shadow: 0px 0px 10px gray; */
  display: flex;
  line-height: 50px;
  
}

nav .brand {
  flex: 1;
  align-self: flex-start;
  height: 50px;
  margin-left: 10px;
}



/* end nav fixed */
/* 
fixed positon  ///////////////////////*/
/* 
.fixed {
	width: 200px;
	height: 200px;
	background: #ffcc00;
	box-shadow: 0 5px 10px rgba(0,0,0,.5);
	color: #222;
	border: 2px solid rgba(0,0,0,.2);
	border-radius: 6px;
	padding: 20px;
	font-size: 0.9em;
}

.fixed {
	position: fixed;
	top: 50px;
	right: calc(50% - 400px + 40px);
	/* 50% - half of container (#main) width + margin to right */
 /* } */

/* .fixed.tomatoes {
	top: 300px;
	background: transparent;
	border: 0;
	box-shadow: none;
}  */
 

/* end fixed position  ///////////////*/


.underline-small{
  color:gray;
  display:inline-block;
  position:relative;
  text-align:center;
 
  
}

.underline-small::after{
  content:'';
  height:4px;
  width:5%;
  /* background:#f24432; */
  /* background-color: rgb(29, 29, 167); */
  background-color:rgb(66, 107, 218);
  position:absolute;
  /* left:calc(50% - 35%); */
  left:calc(60% - 12%);
 
  bottom:-15px;
  text-align: center;
  
/*   another way you can achieve this
  Check this link: 
  https://goo.gl/GgRdjz
  
  */  
}



.underline-smallgi{
  color:rgb(255, 255, 255);
  /* color:rgb(161, 31, 31); */
  display:inline-block;
  position:relative;
  text-align:center;
 
  
}

.underline-smallgi::after{
  content:'';
  height:0.1px;
  /* border: solid thin; */
  width:19%;
  /* background:#f24432; */
  /* background-color: rgb(29, 29, 167); */
  background-color:rgb(222, 207, 207);
  position:absolute;
  /* left:calc(50% - 35%); */
  left:calc(53% - 12%);
 
  bottom:-10px;
  text-align: center;
  margin-bottom: 12;
  align-items:baseline;
  
/*   another way you can achieve this
  Check this link: 
  https://goo.gl/GgRdjz
  
  */  
}

.sidenavbe {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #111; #6610f2 rgb(50, 14, 212) */
  background-color: rgb(50, 14, 212);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity:0.9;
  
}

.sidenavbe a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  /* color: #818181; */
  color: #bcec1d;
  display: block;
  transition: 0.3s;
} 

.sidenavbe a:hover {
  /* color: #f1f1f1; */
  color: #3e19c4;
}

.sidenavbe .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition:margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* side nav start */

  * {
    box-sizing: border-box;
  }
  
  body {
    padding: 3px 0px;
  }
  
  li {
    list-style: none;
  }
  
  

  .nav-link {
    /* background-color: #ddd; */
    background-color:#cabcfe;
      /* background-color:#ffff; */
    /* background-color: aquamarine;  */
    /* #0dcaf0 #20c997 #6f42c1 #6610f2 #d63384 #4288d0 */
    /* background-color:rgba(69, 69, 255, 0.879);  */
    /* color: #bbb; */
    
    margin: auto auto auto -25px;
    /* color: #111; */
    /* color: rgb(20, 10, 135); */
    display: block;
    height:50px;
    margin-bottom:8px;
    /* line-height:150px; */
    overflow: hidden;
    position: relative; 
    text-decoration: none;
    transition: all 0.3s ease;
    width:50px;
    border-radius: 4px;
    margin-top:8px;
    
  }

  .nav-link:hover {
    line-height: 100px;
    width:112px;
    /* color:rgb(82, 16, 16); */
    /* background-color:#0d6efd;        */
    /* /* background-color:#142641; */
    /* background-color:#5b3bdb;  */
    /* background-color:#3f17df;  */
    /* background-color:#4a465b;  */
    /* background-color:#a29eb8;  */
  }

  /* .nav-link a{
    background-color: aquamarine;  
    rgb(12, 90, 91)
    rgb(38, 38, 145) 
  } */
  
  .nav__icon:hover{
    /* background-color:#142641; */
    /* background-color:#181ede; */
    left:19px;
    position: absolute;
   
  }
  
  
  .nav-link__title {
    height:3px;
    left:0px;
    margin:0 0 0 0;
    position: absolute;
    top: 0;
    text-align: center;
    width:161px;
    font-size:14px;
    
  }
  
  .nav__icon {
    /* background-color:rgb(70, 15, 15); */
    /* background-color:#ddd; */
    /* color: #222; */
    height:0px;
    width:0px;
    /* color:#4d5076; */
    /* color:rgb(90, 34, 168); */
    /* color:#0920f2; */
    /* color:#5a4cf8; */
    /* color:#441ca8; */
    /* color:#1ca87e; */
    /* padding-right:-69px; */
    margin-left:-0.2em;
    
   
    
    /* background-color: aquamarine; */
  }
 

  .nav__icon:hover{
    color: rgb(85, 65, 153);
    
  }

  /* .bi-type{
    margin-top:14px;
    size: 34px;
    background-color: aquamarine;
  } */


  /* closebtn */
 
  /* // COLORS */
/* $softorange: #F4A259;
$tomatored: #F25C66;
$mediumblu: #1E272D; */


/* body{
  background-color: $mediumblu;
} */

.close-container{
  position: relative;
  margin: auto;
  width: 20px;
  height: 20px;
  margin-top:-24px;
  margin-right:55px; 
  cursor: pointer;
}

.leftright{
  height: 4px;
  width: 20px;
  position: absolute;
  margin-top: 24px;
  background-color:#F4A259;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}

.rightleft{
  height: 4px;
  width: 20px;
  position: absolute;
  margin-top: 24px;
  background-color:#F4A259;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
}

label{
  color: white;
  font-family: Helvetica, Arial, sans-serif; 
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all .3s ease-in;
  opacity: 0;
  /* margin:0 13px 0 10px; */
}
.close{
  margin: 50px 96px 0 0px;
  position: absolute;
}

.close-container:hover .leftright{
  transform: rotate(-45deg);
  background-color: #F25C66;
}
.close-container:hover .rightleft{
  transform: rotate(45deg);
  background-color: #F25C66;
}
.close-container:hover label{
  opacity: 1;
}

/* auto typing auto write and auto delete text */

@import 'https://fonts.googleapis.com/css?family=Roboto';
/* html, body {
	background-color: #000;
} */
/* h2, a, p {
	color:blue;
	font-family: Roboto;
	text-decoration: none;
} */
p>a {
	color: #fd084a;
}
.blink {
  animation: blink 0.5s infinite;
}
@keyframes blink{
  to { opacity: .0; }
}
.flex {
	display: flex;
}
.header-sub-title {
  /* color:rgb(110, 110, 148);   */
  /* font-family: "Courier"; */
  color: rgb(29, 29, 219);
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 21px;
  padding: 0.1em;
  font-weight: 550;
  
}

/* underline small */


  /* @media screen and (min-width:354px){ 
    img{
      width:222px;
      height:245px;
    }
  }

  @media screen and (min-width:504px){ 
    img{
      width:322px;
      height:345px;
    }
  }

  @media screen and (min-width:600px){ 
    img{
      width:372px;
      height:445px;
    }
  }

  @media screen and (min-width:708px){ 
    img{
      width:472px;
      height:465px;
    }
  }

  @media screen and (min-width:830px){ 
    img{
      width:512px;
      height:465px;
    }
  }


  @media screen and (min-width:954px){ 
  img{
    width:522px;
    height:545px;
  }
  } */


/* Text */
.tex{
  color:rgb(82, 82, 104);
  font-weight: 600;
}

/* @import url(https://fonts.googleapis.com/css?family=Dancing+Script); */

/* check mark  Animate ///////////////////*/

.checkmark-loader {
  animation: 800ms ease forwards loader-spin, 500ms linear 5000ms forwards border-fill;
  /* border: 2px solid rgba(0, 0, 0, 0.2); #0dcaf0 #20c997 #6f42c1 #6610f2 #d63384 #4288d0 */
   border: 2px solid  #0dcaf0; 
  /* border-left-color: #f7941e; */
  border-left-color: #0dcaf0;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  position: relative;
  width: 20px;
}

.checkmark {
  animation: 800ms ease 4s forwards checkmark;
  /* border-right: 2px solid #f7941e; */
  border-right: 2px solid #6610f2 ;
  /* border-top: 2px solid #f7941e; */
   border-top: 2px solid #6610f2;
  height: 1px;
  left: 2px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: scaleX(-1) rotate(135deg);
  transform-origin: left top;
  width: 8px;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes border-fill {
  0% {
    border-color-top: none;
    border-color-right: none;
    border-color-bottom: none;
  }
  90% {
    border-color-top: rgba(247, 148, 30, 0.1);
    border-color-right: rgba(247, 148, 30, 0.1);
    border-color-bottom: rgba(247, 148, 30, 0.1);
  }
  100% {
    /* border-color: #f7941e;  */
    border-color:#6610f2;
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
  }
  20% {
    height: 0;
    width: 6px;
    opacity: 1;
  }
  40% {
    height: 10px;
    width: 6px;
    opacity: 1;
  }
  100% {
    height: 10px;
    width: 6px;
    opacity: 1;
  }
}


/* check mark  Animate End ///////////////////*/


/*///////////// circle skill bar on scroll start ////////////////////// */


/* body {
  background: #f5f5f5;
} */

.progressbar {
  display: inline-block;
  width: 100px;
  margin: 25px;
  /* border:solid thin red; */
  align-items: center;
 
}

.circlezc {
  width: 200%;
  margin: 0 auto;
  margin-top: 10px;
  display: inline-block;
  position: relative;
  text-align:center;
  /* border:solid thin #ccc; */
  
}

.circlezc canvas {
  vertical-align: middle;
}

.circlezc div {
  position: absolute;
  top: 30px;
  left:1px;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
}

.circlezc strong i {
  font-style: normal;
  font-size: 0.6em;
  font-weight: normal;
}

.circlezc span {
  display: block;
  color: #aaa;
  /* color:#0563bb; */
  margin-top: 12px;

  /* #0dcaf0 #20c997 #6f42c1 #6610f2 #d63384 #4288d0  */
}

.ftz{
  font-size: 14px;
}

/* //////////////////////circle skill bar on scroll end ////////*/




/* skills bar */

/* .Count:after{
  content:"%"
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:23px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:23px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:23px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:23px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
} */




/* Animate on scroll  */

:root {
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 1s;
}

@-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes slideInleft {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInleft {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes zoomReverseIn {
  0% {
    opacity: 0;
    transform: scale(1.25);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes zoomReverseIn {
  0% {
    opacity: 0;
    transform: scale(1.25);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes flipInY {
  0% {
    opacity: 0;
    transform: perspective(90vw) rotateY(67.5deg);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes flipInY {
  0% {
    opacity: 0;
    transform: perspective(90vw) rotateY(67.5deg);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
[data-animation] {
  opacity: 0;
  -webkit-animation-timing-function: var(--animation-timing-function);
          animation-timing-function: var(--animation-timing-function);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: var(--animation-duration);
          animation-duration: var(--animation-duration);
  will-change: transform, opacity;
}

.animations-disabled,
.animations-disabled [data-animation] {
  -webkit-animation: none !important;
          animation: none !important;
  opacity: 1 !important;
}

.slideInUp {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp;
}

.slideInDown {
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
}

.slideInLeft {
  -webkit-animation-name: slideInleft;
          animation-name: slideInleft;
}

.slideInRight {
  -webkit-animation-name: slideInRight;
          animation-name: slideInRight;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
}

.zoomReverseIn {
  -webkit-animation-name: zoomReverseIn;
          animation-name: zoomReverseIn;
}

.flipInY {
  -webkit-animation-name: flipInY;
          animation-name: flipInY;
}

.flipOutY {
  -webkit-animation-name: flipInY;
          animation-name: flipInY;
  animation-direction: reverse;
}

* {
  box-sizing: border-box;
  line-height: calc(1em + 0.25rem);
}

/* html {
  background: #000;
  /* font: 18px/1.5 "Poppins", sans-serif; */
  /* letter-spacing: -0.1em; */
/* } */ 

body {
  margin: 0;
  /* min-height: 100vh;
  overflow-x: hidden;
  color: #8599ad; */
  /* font-weight: 200; */
}

h1 {
  width: 100%;
  /* font-weight: 200; */
  text-align: center;
  margin: 0 0 4rem;
  font-size: 3rem;
}

b {
  font-weight: 600;
}

header,
section {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 3rem 1rem;
}

/* header {
  background: radial-gradient(circle at top right, #e61a5e, #5e1ae6);
  color: #fff;
} */

header h1 {
  margin: 0;
  /* color: #fff; */
}

header .title {
  font-size: 5rem;
}

header .subtitle {
  font-size: 4rem;
}

section {
  background: #fff;
}
section:nth-child(odd) {
  background: #f7f9fa;
}

.box {
  width: 7rem;
  height: 7rem;
  margin: 1rem;
  background: radial-gradient(circle at top right, #e61a5e, #5e1ae6);
  border-radius: 1.5rem;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3) inset, 0 3px 9px rgba(0, 0, 0, 0.3);
}

/* circle line */

.wrapper {
  width:210%;
  height: auto;
}

.circle {
  width: 20px;
  height: 20px;
  /* background: #2ecc71; */
 /* background-color: #fff; */
 /* border-color: #5e1ae6; */
  /* border: 2px solid #4288d0; */
  border: 2px solid  #5e1ae6;
  border-radius: 100px;
  position: relative;
  /* margin: 100px auto 0 auto; */
  margin: 12px auto 0 auto;
  left:calc(13% - 12%);
}

/* h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #fff;
} */

.vertical-line {
  width: 2px;
  height: 100px;
  /* background: #2ecc71; */
  /* background-color: #4288d0; */
  background-color:#5e1ae6;
  /* margin: 20px auto 0 auto; */
  margin: 0px auto 0 auto;
  /* left:calc(53% - 12%); */
}

/* hr {
  border: 0;
  height: 1px;
  background: #333;
  background: linear-gradient(to right, #ccc, #333, #ccc);
} */


/* Resume //////////////////////////////////////////////////// */

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #45505b;
  
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #0563bb;
  /* border-left: 2px solid #5e1ae6; */
  position:relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #0563bb;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #f7f8f9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #0563bb;
  /* border: 2px solid #5e1ae6; */
}


/*////////////////// project over lay /////////////////*/

/* .container {
  position: relative;
  width: 100%;
} */

.con {
  position: relative;
  width: auto;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

/* .container:hover .overlay {
  bottom: 0;
  height: 100%;
} */

.con:hover .overlay {
  bottom: 0;
  height: 100%;
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/*////////////////// project over lay end /////////////////*/


/*====Skill Bar start=====*/
body{
  margin:0;
}


@media screen and (max-width:1692px){ 
  #first-sec{
      height:130vh;
   /* background-color:rgb(50, 205, 120); */
  }
  .hie{
    height:1165px;
  }
} 

@media screen and (max-width:1437.5px){ 
  #first-sec{
      height:180vh;
   /* background-color:rgb(50, 205, 120); */
  }
  .hie{
    height:1165px;
  }
} 


@media screen and (max-width:1328px){ 
  #first-sec{
      height:190vh;
   /* background-color:rgb(50, 205, 120); */
  }
  .hie{
    height:1165px;
  }
} 

@media screen and (max-width:1299.5px){ 

  .hie{
    height:965px;
  }
} 

@media screen and (max-width:1189px){ 

  .hie{
    height:715px;
  }
} 


@media screen and (max-width:1189px){ 

  .hie{
    height:715px;
  }
} 

@media screen and (max-width:699px){ 

  .hie{
    height:0px;
  }
} 


@media screen and (max-width:992px){ 
  #first-sec{
      height:179vh;
   /* background-color: red; */
  }
} 




/* .hie{
  margin-top: auto;
  height: auto;
} */

@media screen and (max-width:1200.5px){ 
  #first-sec{
      height:219vh;
   /* background-color:rgb(65, 39, 39); */
  }
} 

@media screen and (max-width:991.5px){ 
  #first-sec{
      height:259vh;
   /* background-color:rgb(65, 39, 39); */
  }
  .hie{
    /* margin-top:-556px; */
    margin-top: auto;
  }
} 


@media screen and (max-width:700.5px){ 
  #first-sec{
      height:219vh;
   /* background-color:rgb(65, 39, 39); */
  }
} 

@media screen and (max-width:699.5px){ 
  #first-sec{
      height:219vh;
   /* background-color:rgb(65, 39, 39); */
  }
  .hie{
  height:1045px;
    
  }
} 

@media screen and (max-width:651.5px){ 
  #first-sec{
      height:279vh;
   /* background-color:rgb(65, 39, 39); */
  }
  .hie{
  height:645px;
    
  }
} 

@media screen and (max-width:594.5px){ 
  #first-sec{
      height:279vh;
   /* background-color:rgb(65, 39, 39); */
  }
  .hie{
    height:345px;
      
    }
} 

@media screen and (max-width:584.5px){ 
  #first-sec{
      height:279vh;
   /* background-color:rgb(65, 39, 39); */
  }
  .hie{
    height:545px;
      
    }
} 



@media screen and (max-width:487.5px){ 
  #first-sec{
      height:289vh;
   /* background-color:rgb(39, 65, 65); */
  }
} 

@media screen and (max-width:430px){ 
  #first-sec{
      height:289vh;
   /* background-color:rgb(255, 119, 0); */
  }
} 



@media screen and (max-width:420px){ 
  #first-sec{
      height:278vh;
   /* background-color:blue; */
  }
} 

@media screen and (max-width:420px){ 
  #first-sec{
      height:278vh;
   /* background-color:blue; */
  }
  .hie{
    height:1223px;
  }
} 




@media screen and (max-width:397px){ 
  #first-sec{
      height:295vh;
   /* background-color:rgb(217, 0, 255); */
  }
} 



@media screen and (max-width:384px){ 
  #first-sec{
      height:284vh;
   /* background-color:purple; */
  }
} 




@media screen and (max-width:378px) and (max-height:820px){ 
  #first-sec{
      height:253vh;
   /* background-color:rgb(43, 255, 0); */
  }
} 

@media screen and (max-width:377px) and (max-height:700px){ 
  #first-sec{
      height:253vh;
   /* background-color:rgb(132, 162, 126); */
  }.hie{
    height:1356px;
  }
} 

@media screen and (max-width:360.5px){ 
  #first-sec{
      height:259vh;
   /* background-color:rgb(0, 70, 128); */
  }
  .hie{
    height:1328px;
  
  }
  /* .opv{
    offset:18px;
  } */
}

  @media screen and (max-width:322px){ 
    #first-sec{
        height:209vh;
     /* background-color:rgb(39, 167, 189); */
    }
    .hie{
      height:1328px;
    }
} 

/* #first-sec {
  height:210vh;
  background-color:#283c86;
  /* opacity:1; */
/* }  */

/* #second-sec {
  height:100vh;
  background-color:#45a247;
}
 */


/*====Skill Bar=====*/

.container {
    height:0px;
    max-width: 100%;
  width:70%;
  margin: 1% auto;
}

.progress-barcep {
    margin: 20px 0 10px;
    overflow: hidden;
    /*padding-left:20px;
  padding-right: 25px; /* Separate bars from container */
}

.progress-title-holder {
    padding-bottom: 1px;
    position: relative;
    margin: 5px 0;
    font-family: Montserrat, sans-serif;
    font-size: 2e;
    line-height: 15px;
    font-weight: 400;
    color: #2e2e2e;
}

.progress-title {
    z-index: 100;
    font-weight: bold;
    font-size:15px;
}

.progress-number-wrapper {
    width: 100%;
    z-index: 10;
}

.progress-number-mark {
    margin-bottom: 4px;
    border-radius: 3px;
    /* background-color: #00d2ff;#5e1ae6 #6610f2  rgb(50, 14, 212) #a168fd #9891a4 */
    background-color:#141e8e;
    padding: 0 8px;
    position: absolute;
    bottom: 0;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.progress-number-wrapper,
.progress-number-mark {
    font-family: Open Sans, sans-serif;
    font-size: 11px;
    line-height: 24px;
    height: 24px;
    letter-spacing: 0px;
    font-weight: 600;
    font-style: normal;
    text-transform: none;
    color: #ffffff;
}

.down-arrow {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    /* border-top: 3px solid #00d2ff; */
    border-top: 3px solid #5e1ae6 ;
    position: absolute;
    left: 50%;
    top: 100%;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.progress-content-outter {
    height: 12px;
    background-color: #E1E1E0;
    /* background-color: #5e1ae6; */
    
}

.progress-content {
    height: 21px;
    /* background-color: #00d2ff;#6923f4 #8a58ed #aa82fb #be9efe #6125d9 #6a3bc7*/
    background-color:#1d2ef0; 
    width: 0%;
}

/*====Skill Bar End=====*/


/* /////////////////resume media query start ///////////*/

@media screen and (max-width:336px){ 
  .res{
    /* width:222px;
    height:245px; */
    margin-top:-90px;
  }
}

/* @media screen and (max-width:1520px){ 
  .res{
   
    margin-top:-390px;
  }
}  */

@media screen and (max-width:992px){ 
  .res{
   
    margin-top:-290px;
    /* color: red; */
  }
} 




@media screen and (max-width:1620px){ 
  .res{
   
    margin-top:-560px;
    /* color: brown; */
  }
} 

@media screen and (max-width:1220px){ 
  .res{
   
    margin-top:-563px;
    /* color: green; */
  }
} 


@media screen and (max-width:1189.5px){ 
  .res{
   
    margin-top:-303px;
    /* color:yellow; */
  }
} 

@media screen and (max-width:991.5px){ 
  .res{
   
    margin-top:-83px;
    /* color:#6610f2; */
  }
} 

@media screen and (max-width:595px){ 
  .res{
   
    margin-top:180px;
    /* color:#10f250; */
  }
} 

/* style="margin-top:-590px;" */


/*//////// resume media end query  ////////////*/


/*///////// content media query startn ////// */

@media screen and (max-width:1620px){ 
  .cos{
   
    margin-top:483px;
   
  }
  /* p{
    color:red;
  } */
} 

@media screen and (max-width:1199.5px){ 
  .cos{
   
    margin-top:723px;
    
  }
  /* p{color:green;} */
} 

@media screen and (max-width:767px){ 
  .cos{
   
    margin-top:1123px;
    
  }
  /* p{color:yellow;} */
} 

@media screen and (max-width:667px){ 
  .cos{
   
    margin-top:923px;
    
  }
  /* p{color:blue;} */
} 

/*///// content media query end ///// */

/* ///////////////////scorll arrow up ////////////*/

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right:0px;
  z-index: 99;
  font-size:8px;
  border: none;
  outline: none;
  background-color: rgb(8, 6, 12);
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 40px;
}

#myBtn:hover {
  background-color: rgb(19, 31, 198);
}

/* ///////////////////scorll arrow up end ////////////*/

/* ///////////////////scrollspy codepen ////////////////// */
ul.nav-pills {
  top: 20px;
  position: fixed;
 
}

nav-link__title{
text-decoration-line:none; 
}



div.col-sm-9 div {
  height: 250px;
  font-size: 28px;
}
/* #section1 {color: #fff; background-color: #1E88E5;}
#section2 {color: #fff; background-color: #673ab7;}
#section3 {color: #fff; background-color: #ff9800;}
#section41 {color: #fff; background-color: #00bcd4;}
#section42 {color: #fff; background-color: #009688;} */

/* @media screen and (max-width: 810px) {
  #section1, #section2, #section3, #section41, #section42  {
    margin-left: 150px;
  }
} */

/* /////////////////scrollspy  end //////////////*/

/* ////////////////nav shadow box //////////////*/
#navBar {
  position: fixed;
  width: 100vw;
  height: 80px;
  background-color: #DEDEDE;
  transition: 0.2s;
  display: flex;
}

.floatingNav {
  width: calc(100vh - 100px); 
  border-radius: 2px;
/*   box-shadow: 0px 1px 10px #999; */
  box-shadow: 0px 1px 30px #423feb;
}

/* /////////////// End nav shadow box //////////////*/

/* ////////////////////Auto text write color//////////// */



/* ////////////////////Auto text write color//////////// */
